In [1]:
import pandas as pd

In [2]:
my_array = [
    ['C Major Scale'],
    ['[IMG GOES HERE]'],
    ['I','II','III','IV','V','VI','VII'],
    ['a','b','c','d','e','f','g'],
]

In [4]:
my_df = pd.DataFrame(data=my_array)

In [5]:
my_df

                 0     1     2     3     4     5     6
0    C Major Scale  None  None  None  None  None  None
1  [IMG GOES HERE]  None  None  None  None  None  None
2                I    II   III    IV     V    VI   VII
3                a     b     c     d     e     f     g

In [6]:
my_df2 = pd.DataFrame(data=my_array, copy=True)

my_df2

                 0     1     2     3     4     5     6
0    C Major Scale  None  None  None  None  None  None
1  [IMG GOES HERE]  None  None  None  None  None  None
2                I    II   III    IV     V    VI   VII
3                a     b     c     d     e     f     g