reference:

http://docs.sqlalchemy.org/en/latest/orm/tutorial.html

In [4]:
import sqlalchemy as sqla
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [5]:
engine = sqla.create_engine('sqlite:///users-ipynb.sqlite3', echo=True)
Base = declarative_base()
Session = sessionmaker(bind=engine)
    
class MyUserAPI:
    def __init__(self):
        
        
        class Users(Base):
            __tablename__ = 'users'
            
            id = sqla.Column(sqla.Integer, primary_key=True)
            username = sqla.Column(sqla.String)
            password = sqla.Column(sqla.String)
            
        self.Users = Users

In [6]:
my_user_api = MyUserAPI()

In [17]:
my_user2 = my_user_api.Users(username='mercurio',password='myp455t00')

In [12]:
Base.metadata.create_all(engine)

2016-10-07 12:46:26,779 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2016-10-07 12:46:26,784 INFO sqlalchemy.engine.base.Engine ()
2016-10-07 12:46:26,791 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2016-10-07 12:46:26,795 INFO sqlalchemy.engine.base.Engine ()
2016-10-07 12:46:26,805 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2016-10-07 12:46:26,810 INFO sqlalchemy.engine.base.Engine ()
2016-10-07 12:46:26,822 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	username VARCHAR,
	password VARCHAR,
	PRIMARY KEY (id)
)


2016-10-07 12:46:26,827 INFO sqlalchemy.engine.base.Engine ()
2016-10-07 12:46:27,028 INFO sqlalchemy.engine.base.Engine COMMIT

In [16]:
session = Session()

In [18]:
session.add(my_user2)

In [20]:
session.commit()

2016-10-07 12:54:51,162 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2016-10-07 12:54:51,170 INFO sqlalchemy.engine.base.Engine INSERT INTO users (username, password) VALUES (?, ?)
2016-10-07 12:54:51,175 INFO sqlalchemy.engine.base.Engine ('mercurio', 'myp455t00')
2016-10-07 12:54:51,218 INFO sqlalchemy.engine.base.Engine COMMIT

In [24]:
user_queried = session.query(my_user_api.Users).first()

2016-10-07 13:00:11,535 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.username AS users_username, users.password AS users_password
FROM users
 LIMIT ? OFFSET ?
2016-10-07 13:00:11,546 INFO sqlalchemy.engine.base.Engine (1, 0)

In [25]:
user_queried.username

'mercurio'

In [26]:
user_queried.password

'myp455t00'

In [1]:
#!pip install pandas
# commented as we don't want it to be executed again in jupyter

In [31]:
# http://stackoverflow.com/questions/36028759/how-to-open-and-convert-sqlite-database-to-pandas-dataframe

import sqlite3
import pandas as pd
# Create your connection.
cnx = sqlite3.connect('users-ipynb.sqlite3')

df = pd.read_sql_query("SELECT * FROM users", cnx)

In [32]:
df

   id  username   password
0   1  mercurio  myp455t00