# Simple Python Table In String
## Using panda's DataFrame

Here we create simple tables using simply **two spaces** as cell column separator and **newline** as row separator.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html
http://pbpython.com/pandas-list-dict.html

In [1]:
import pandas

In [39]:
tabular = """
C  D  E  F  G  A  B  C
1  2  3  4  5  6  7  8
  ii  iii   iv
"""

tabular = tabular.strip() # remove newlines after and before string

## First version: spliting blanks first

This doesn't allow us to use empty spaces to leave empty cells

In [40]:
lines = [line.strip().split('  ') for line in tabular.splitlines()]

In [41]:
lines

[['C', 'D', 'E', 'F', 'G', 'A', 'B', 'C'],
 ['1', '2', '3', '4', '5', '6', '7', '8'],
 ['ii', 'iii', ' iv']]

In [42]:
df = pandas.DataFrame(lines)

In [43]:
df

    0    1    2     3     4     5     6     7
0   C    D    E     F     G     A     B     C
1   1    2    3     4     5     6     7     8
2  ii  iii   iv  None  None  None  None  None

## Second version: not spliting blanks first

This doesn't splits blanks first, so we should take more care with the number of spaces we insert to separate cells, as they will be kept and processed in place. Despite of this, we can use two spaces to insert empty cells.

In [49]:
lines2 = [line.split('  ') for line in tabular.splitlines()]

In [50]:
lines2

[['C', 'D', 'E', 'F', 'G', 'A', 'B', 'C'],
 ['1', '2', '3', '4', '5', '6', '7', '8'],
 ['', 'ii', 'iii', ' iv']]

In [51]:
df = pandas.DataFrame(lines2)

In [52]:
df

   0   1    2    3     4     5     6     7
0  C   D    E    F     G     A     B     C
1  1   2    3    4     5     6     7     8
2     ii  iii   iv  None  None  None  None

In [53]:
def simple_table(str_data):
    from pandas import DataFrame as DF

    lines = [line.split('  ') for line in tabular.splitlines()]
    return DF(lines)

In [54]:
simple_table(tabular)

   0   1    2    3     4     5     6     7
0  C   D    E    F     G     A     B     C
1  1   2    3    4     5     6     7     8
2     ii  iii   iv  None  None  None  None